@-webkit-keyframes fade-in {   0% { opacity: 0.0; }   100% { opacity: 1; }   }
@-moz-keyframes    fade-in {   0% { opacity: 0.0; }   100% { opacity: 1; }   }
@-o-keyframes      fade-in {   0% { opacity: 0.0; }   100% { opacity: 1; }   }
@keyframes         fade-in {   0% { opacity: 0.0; }   100% { opacity: 1; }   }

body{
  font-family: 'Roboto', sans-serif;
  -webkit-animation: fade-in 2s linear;
  -moz-animation: fade-in 2s linear;
  -o-animation: fade-in 2s linear;
  animation: fade-in 2s linear;
  background-color: #efefef;
}

a{
  text-decoration: none;
}

*{
  margin: 0;
  padding: 0;
}

html, body{
  height: 100%;
}

.wrapper{
  position: relative;
  min-height: 100%;
}

.content{
  padding-bottom: 90px;
  position: absolute; 
  width: 100%; 
  top: 35%; 
  text-align: center;
}

.footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: #000000;
  text-align: center;
}

.footer > p{
  color: #ffffff;
  margin-top: 15px;
}

.content > i{
  display: block;
}

.arrow_r{
  float: right;
}

.arrow_l{
  float: left;
}

.arrow_r_d{
  float: right;
}

.arrow_l_d{
  float: left;
}

.links > a > img{
  padding: 20px;
}

.links,.links_o{
  border:2px solid transparent;
  margin:0;
  padding:0;
}

.link_1{
  opacity:1px;
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.link_2{
  opacity:1px;
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.link_3{
  opacity:1px;
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.link_4{
  opacity:1px;
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.link_5{
  opacity:1px;
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.link_6{
  opacity:1px;  
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.link_1:hover{
  opacity:0.5;
}

.link_2:hover{
  opacity:0.5; 
}

.link_3:hover{
  opacity:0.5;
}

.link_4:hover{
  opacity:0.5;
}

.link_5:hover{
  opacity:0.5;
}

.link_6:hover{
  opacity:0.5;
}

.arrow_l{
  opacity:1px;  
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.arrow_l:hover{
  opacity:0.5;
}

.arrow_r{
  opacity:1px;  
  z-index:100;
  transition-duration:0.96s;
  -webkit-transition-duration:0.96s;
  -moz-transition-duration:0.96s;
  -o-transition-duration:0.96s;
  -ms-transition-duration:0.96s;
}

.arrow_r:hover{
  opacity:0.5;
}